<!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Ejercicios Angular</h3>
      </div>

      <ul class="list-unstyled components">
          <li>
              <a routerLink="/ejercicio1" routerLinkActive="active">Ejercicio 1</a>
          </li>
          <li>
              <a routerLink="/ejercicio3" routerLinkActive="active">Ejercicio 3</a>
          </li>
          <li>
              <a routerLink="/ejercicio6" routerLinkActive="active">Ejercicio 6</a>
          </li>
          <li>
              <a routerLink="/ejercicio8" routerLinkActive="active">Ejercicio 8</a>
          </li>
      </ul>
  </nav>


